/*CSS*/

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(13, 79, 82);
    overflow-x: hidden;
    transition: 0.9s;

    }

    .sidebar ul {
    font-size: 24px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    }
    .sidebar ul li{
        padding: 10px;
        list-style-type: none;
        border-bottom: 1px solid rgb(74, 135, 206);
    }

    ul li:hover{
        background-color: black;
        border-radius: 5%;
    }

    ul p{
        font-size: 60%;
        color: darkgray;
        font-weight: bold;
    }

    ul li a:hover{
        color: rgb(52, 52, 158);
        text-decoration: none;
    }

    ul li a{
        color: darkkhaki;
        text-decoration: none;
        text-shadow: 1px 1px 1px plum;
    }


    .sidebar .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    color:white;
    transition: 0.9s;
    }

    .admin_name {
        color:rgb(222, 223, 223);
        font-size: 50px;
        font-family: '@Cooper Black';
    }

    #sidebtn-id p a{
        font-size: 40px;
        color: rgb(209, 114, 114);
        text-decoration: none;
    }


    #imgstyle{
        width: 120px;
        height: 120px;
        border: 1px solid black;
    }


