/*CSS*/



body{
    background-image: radial-gradient(rgb(209, 207, 196), rgb(128, 125, 93),rgb(228, 192, 158));
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
}

#divbody{
    padding-bottom: 2.5rem;
}


.btnshow{
    text-decoration: none;
    color: white;
    background-color: darkgreen;
    font-size: 18px;
    border-radius: 15%;
    padding: 2%;
}
.btndelete{
    text-decoration: none;
    color: white;
    background-color:darkred;
    font-size: 18px;
    border-radius: 15%;
    padding: 2%;
}

#success_msg{
    background-color: green;
    width: auto;
    color: black;
    font-size: 20px;
}

.content{
    padding-left: 280px;
    padding-top: 60px;
}


.main_title{
    color: black;
    font-family:'@Forte';
    font-size: 40px;

}

.mainDiv {
    opacity: 0.9;
}


#dep_p{
    text-align: center;
}

#dep_info_2{
    margin-top: 20px;
}

#dep_info_2 img{
    width:100%;
    max-width:300px;
    height: 300px;
}


nav{
    font-family: '@Cooper Black';
    font-size: 24px;
    background-color: black;
    color: wheat;
}

nav ul li{
    padding-left: 20px;
    padding-top: 1px;
}

nav ul li a{
    color:white;
}
nav ul li:hover a{
    color:Cadetblue;
}

nav a img{
    margin-top: -15px;
    margin-bottom: -15px;
    height: 60px;
    width: 60px;
}


.dep a img{
    border: 2px solid black;
    width: 415px;
    height: 500px;
}
.dep a img:hover{
    opacity: 0.9;
    border: 4px solid darkblue;

}
.dep-card{
padding-right: 50px;
}

form{
    background-color:darkgrey;
    border-radius: 10px;
    padding: 5px;

}

.crudcard{
    margin-top: 40px;
    border: none;
}

.mainBody{
    background-image: url("/img/Hogwarts school.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
}

.loginCard{
    background-image: url("/img/castle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.main_p{
    font-size: 34px;
    font-family:'@Forte';
    text-shadow: 1px 1px 1px black, 4px 4px 4px gray;
}
.main_card{
    font-size: 24px;
    font-family:'@Cooper Black';
    color: black;
    text-shadow: 1px 1px 1px tan, 4px 4px 4px purple;


}
.crew-card{
    background-color: black;
}
.crew-card2{
    background-color:rgb(214, 211, 208);
}

.cardjs{
    cursor: pointer;
}

.uniformimg{
    width: 100px;
    border-radius: 100%;

}

.carousel-item img{
    object-fit:fill;
    height: 400px;
    width: 600px;
}

.profjs{
    cursor:pointer;
}

.profjs2{
    display:none;
}

#footer{
    background-color: black;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-bottom: auto;
}

.unired{
    text-shadow: 2px 2px 2px black, 5px 5px 5px darkred;
}
.unigreen{
    text-shadow: 2px 2px 2px black, 5px 5px 5px green;
}
.uniyellow{
    text-shadow: 2px 2px 2px black, 5px 5px 5px yellow;
}
.uniblue{
    text-shadow: 2px 2px 2px black, 5px 5px 5px darkblue;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #myImg:hover {opacity: 0.9;}

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */

  }

  .modal img{
    z-index: -1;
  }

  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
  }

  /* Add Animation - Zoom in the Modal */
  .modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }

  /* The Close Button */
  .close_span {
    position: absolute;
    top: 20px;
    right:200px;
    transition: 0.3s;
    color: red;
    font-size: 50px;
  }


  .close_span:hover,
  .close_span:focus {
    color:rgb(255, 73, 73);
    cursor: pointer;
  }

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }

    .close_span {
        position: absolute;
        top: 20px;
        right:0px;
        transition: 0.3s;
        color: red;
        font-size: 50px;
      }
  }

.llll{
    color: red;
}

@media only screen and (max-width: 700px){
.middle_uniform{
    margin-left: 190px;
}
}
